<div class="home-header">
  <h2>Visão Geral</h2>
  <button class="btn-add-transaction" (click)="goToAddTransaction()">
    + Adicionar Transação
  </button>
</div>

<section class="kpi-cards">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Saldo Atual</h3>
      <button class="visibility-btn" (click)="toggleValuesVisibility()">
        <svg
          *ngIf="areValuesVisible"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
          <circle cx="12" cy="12" r="3"></circle>
        </svg>
        <svg
          *ngIf="!areValuesVisible"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 2c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
          ></path>
          <line x1="1" y1="1" x2="23" y2="23"></line>
        </svg>
      </button>
    </div>
    <p
      *ngIf="areValuesVisible; else hiddenValue"
      class="card-value"
      [ngClass]="{
        'saldo-positivo': saldoAtual >= 0,
        'saldo-negativo': saldoAtual < 0
      }"
    >
      {{ saldoAtual | currency : "BRL" }}
    </p>
  </div>

  <div class="card">
    <h3 class="card-title">Receitas do Mês</h3>
    <p
      *ngIf="areValuesVisible; else hiddenValue"
      class="card-value saldo-positivo"
    >
      {{ receitasDoMes | currency : "BRL" }}
    </p>
  </div>

  <div class="card">
    <h3 class="card-title">Despesas do Mês</h3>
    <p
      *ngIf="areValuesVisible; else hiddenValue"
      class="card-value saldo-negativo"
    >
      {{ despesasDoMes | currency : "BRL" }}
    </p>
  </div>
</section>

<ng-template #hiddenValue>
  <p class="card-value hidden">R$ ••••••</p>
</ng-template>

<section class="recent-transactions">
  <h2>Transações Recentes</h2>
  <ul
    class="transaction-list"
    *ngIf="transacoesRecentes.length > 0; else noTransactions"
  >
    <li *ngFor="let t of transacoesRecentes" class="transaction-item">
      <div class="transaction-details">
        <span class="transaction-title">{{ t.description }}</span>
        <span class="transaction-category">{{
          t.date | date : "dd/MM/yyyy"
        }}</span>
      </div>
      <span
        *ngIf="areValuesVisible; else hiddenAmount"
        class="transaction-amount"
        [ngClass]="{
          'saldo-positivo': t.type === 'income',
          'saldo-negativo': t.type === 'expense'
        }"
      >
        {{ t.type === "income" ? "+" : "-" }} {{ t.value | currency : "BRL" }}
      </span>
    </li>
  </ul>
  <ng-template #noTransactions>
    <p>Nenhuma transação recente encontrada.</p>
  </ng-template>
</section>

<ng-template #hiddenAmount>
  <span class="transaction-amount hidden">••••••</span>
</ng-template>
