<div class="register-container">
  <form>
    <h2>Criar Conta</h2>

    <input type="text" placeholder="Nome Completo" required />

    <input type="email" placeholder="E-mail" required />
    <div class="error-message">
      Por favor, insira um formato de e-mail válido.
    </div>

    <input type="text" placeholder="Usuário" required />

    <input type="password" placeholder="Senha" required />
    <div class="error-message">
      A senha deve ter no mínimo 8 caracteres, com maiúsculas, minúsculas e ...
      um caractere especial (&#64;$!%*?&).
    </div>

    <input type="password" placeholder="Confirmar Senha" required />
    <div class="error-message">As senhas não coincidem.</div>

    <button type="submit" class="btn-primary">Criar Conta</button>

    <a class="link-login" routerLink="/login">Já tem uma conta? Entrar</a>
  </form>
</div>
