<main class="landing-page">
  <header class="header">
    <div class="logo">
      <h1>EasyMoney</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a class="btn-acessar" routerLink="/login">Acessar Sistema</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h2>Otimize sua vida financeira com facilidade</h2>
      <p>
        Gerencie suas receitas e despesas em um só lugar, de forma simples e
        intuitiva.
      </p>
    </div>
    <div class="hero-image">
      <img [src]="'assets/person.png'" alt="Ilustração financeira" />
    </div>
  </section>

  <footer class="footer">
    <p>&copy; 2025 EasyMoney. Criado por Thiago José Costa.</p>
  </footer>
</main>
