<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <h2>Acessar Sistema</h2>

    <input
      type="text"
      placeholder="Usuário"
      name="usuario"
      [(ngModel)]="usuario"
      required
    />

    <input
      type="password"
      placeholder="Senha"
      name="senha"
      [(ngModel)]="senha"
      required
    />

    <button type="submit" class="btn-primary">Entrar</button>

    <a routerLink="/register" class="link-criar-conta">Criar Conta</a>
  </form>
</div>
