<div class="login-container">
  <!-- 
    CORREÇÕES:
    1. (ngSubmit)="onSubmit()" -> Chama a função de login.
    2. [(ngModel)]="..." -> Conecta os inputs às propriedades do TypeScript.
  -->
  <form (ngSubmit)="onSubmit()">
    <h2>Acessar Sistema</h2>

    <!-- Mensagem de sucesso que só aparece quando a propriedade successMessage não está vazia -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <input
      type="text"
      placeholder="Usuário"
      name="usuario"
      [(ngModel)]="usuario"
      required
    />
    <input
      type="password"
      placeholder="Senha"
      name="senha"
      [(ngModel)]="senha"
      required
    />

    <button type="submit" class="btn-primary">Entrar</button>

    <a class="link-criar-conta" routerLink="/register">Criar Conta</a>
  </form>
</div>
